# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Build files
dist/
dist-ssr/
frontend/dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
backend/.env
frontend/.env

# Local App Data
backend/orders.json

# Editor / System files
.vscode/
.idea/
.DS_Store
Thumbs.db
